@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply transition-colors duration-200 ease-in-out;
  }
  
  /* Optional: Smooth transitions for all color-related properties */
  *, *::before, *::after {
    @apply transition-colors duration-200 ease-in-out border-gray-200 dark:border-gray-700;
  }
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.date-input-hide-picker::-webkit-calendar-picker-indicator {
  opacity: 0;
  pointer-events: none;
}

.date-input-hide-picker::-webkit-inner-spin-button,
.date-input-hide-picker::-webkit-clear-button {
  display: none;
}
